.hero {
  position: relative;
}
.hero .bg-pattern {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  opacity: 0.4;
  display: flex;
  justify-content: center;
}
.hero .bg-pattern img {
  transform: translateY(-10%);
  width: 90%;
  display: block;
  margin: auto 0;
}
.hero .container {
  z-index: 5;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
@media only screen and (max-width: 800px) {
  .hero .container {
    grid-template-columns: 1fr;
  }
}
.hero .container .left {
  height: -moz-fit-content;
  height: fit-content;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.hero .container .left h1 {
  font-size: 3.2rem;
}
@media only screen and (max-width: 700px) {
  .hero .container .left h1 {
    font-size: 2.2rem;
  }
}
.hero .container .left h2 {
  font-size: 1rem;
  color: #787878;
  font-weight: 500;
}
.hero .container .left button {
  margin-top: 1.5rem;
}
.hero .container .right img {
  width: 100%;
  height: auto;
  border-radius: 1rem;
}
.hero .info {
  z-index: 5;
  position: relative;
  background-color: var(--gray);
  margin-top: 3rem;
  border-radius: 2rem;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  gap: 2rem 6rem;
}
@media only screen and (max-width: 700px) {
  .hero .info {
    padding: 2rem 0;
  }
}
@media only screen and (max-width: 1000px) {
  .hero .info {
    flex-direction: column;
  }
}
.hero .info .divider {
  margin: auto 0;
  height: 3rem;
  width: 1px;
  background-color: black;
}
@media only screen and (max-width: 1000px) {
  .hero .info .divider {
    height: 1px;
    width: 50%;
    margin: 0 auto;
  }
}
.hero .info .card {
  text-align: center;
}
.hero .info .card h2 {
  color: #747474;
  font-size: 1.1rem;
  font-weight: 500;
}
.hero .info .card h3 {
  margin-top: 0.4rem;
  color: #565656;
  font-size: 1.2rem;
}

.overview h1 {
  color: #565656;
  font-size: var(--font-heading);
  text-align: center;
}
.overview p {
  color: #666666;
  font-size: var(--font-subheading);
  text-align: center;
  margin-top: 1rem;
  font-weight: 400;
}
.overview .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem 4rem;
  margin-top: 3rem;
}
@media only screen and (max-width: 1000px) {
  .overview .container {
    grid-template-columns: 1fr;
  }
}
.overview .container .left {
  height: -moz-fit-content;
  height: fit-content;
  margin: auto 0;
  position: relative;
}
.overview .container .left #why-play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffa500;
  display: flex;
  gap: 0.8rem;
  border-radius: 2rem;
  padding: 0.4rem 1.1rem;
}
.overview .container .left #why-play-btn:hover {
  cursor: pointer;
  background-color: #cc8400;
}
.overview .container .left #why-play-btn img {
  width: 1.1rem;
  height: 1.1rem;
  display: block;
  margin: auto 0;
}
.overview .container .left #why-play-btn p {
  color: white;
  font-weight: 600;
  font-size: 1.1rem;
  margin-top: 0;
  white-space: nowrap;
}
.overview .container .left video {
  width: 100%;
  border-radius: 2rem;
  filter: brightness(0.7);
}
.overview .container .right {
  border-radius: 2.1rem;
  border: 2px solid #f0f0f0;
  background-color: var(--gray);
  height: -moz-fit-content;
  height: fit-content;
  margin: auto 0;
}
.overview .container .right .info {
  z-index: 5;
  position: relative;
  background-color: var(--gray);
  border-radius: 2rem;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  gap: 2rem;
  border: 2px solid #f5f5f5;
  box-shadow: 0px 3px 4px 0px #a0a0a0;
}
.overview .container .right .info .divider {
  margin: auto 0;
  height: 3rem;
  width: 1px;
  background-color: white;
}
.overview .container .right .info .card {
  text-align: center;
}
.overview .container .right .info .card h2 {
  color: #747474;
  font-size: 1rem;
  font-weight: 500;
}
.overview .container .right .info .card h3 {
  margin-top: 0.4rem;
  color: #565656;
  font-size: 1rem;
  font-weight: 900;
}
.overview .container .right .points {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}
.overview .container .right .points .point {
  display: flex;
  gap: 1rem;
}
.overview .container .right .points .point img {
  width: 1.1rem;
  height: 1.1rem;
  filter: invert(33%) sepia(1%) saturate(0%) hue-rotate(53deg) brightness(96%) contrast(88%);
  margin: auto 0;
  display: block;
}
.overview .container .right .points .point p {
  margin: auto 0;
  color: #565656;
  font-weight: 600;
  font-size: 0.9rem;
  text-align: left;
}

.why h1 {
  color: var(--red);
  font-size: var(--font-heading);
  text-align: center;
}
.why p {
  color: #666666;
  font-size: var(--font-subheading);
  text-align: center;
  margin-top: 1rem;
  font-weight: 400;
}
.why .container {
  grid-template-columns: 45% 55%;
  margin-top: 3rem;
  gap: 2rem 3.3rem;
}
@media only screen and (max-width: 950px) {
  .why .container {
    grid-template-columns: 1fr;
  }
}
.why .container .left {
  background-color: var(--gray);
  padding: 2rem;
  border-radius: 2rem;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto 0;
}
.why .container .left form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.why .container .right .cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
@media only screen and (max-width: 800px) {
  .why .container .right .cards {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
@media only screen and (max-width: 700px) {
  .why .container .right .cards {
    padding: 0.5rem;
  }
}
.why .container .right .cards .card {
  padding: 1rem;
  background-color: #fafafa;
  border-radius: 1rem;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto 0;
}
@media only screen and (min-width: 800px) {
  .why .container .right .cards .card:nth-child(2) {
    grid-row: span 2;
  }
}
.why .container .right .cards .card h2 {
  color: black;
  font-size: 1.3rem;
  text-align: left;
  font-weight: 700;
}
.why .container .right .cards .card ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.why .container .right .cards .card p,
.why .container .right .cards .card li {
  color: #303030;
  font-size: 0.8rem;
  text-align: left;
}
.why .container .right .cards .card ul {
  margin-top: 1rem;
  margin-left: -1.4rem !important;
}
.why .container .right .cards .card span {
  font-weight: 600;
}

.alumni {
  position: relative;
}
.alumni .bg-pattern {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  opacity: 0.3;
  display: flex;
  justify-content: center;
}
.alumni .bg-pattern img {
  rotate: 180deg;
  width: 90%;
  display: block;
  margin: auto 0;
}
.alumni h1 {
  color: #3d3d3d;
  font-size: var(--font-heading);
  text-align: center;
  position: relative;
  z-index: 5;
}
.alumni h2 {
  color: #666666;
  font-size: var(--font-subheading);
  text-align: center;
  margin-top: 1rem;
  font-weight: 400;
  position: relative;
  z-index: 5;
}
.alumni .cards {
  position: relative;
  z-index: 5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.4rem 0.2rem;
  margin-top: 3rem;
}
@media only screen and (max-width: 1200px) {
  .alumni .cards {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 600px) {
  .alumni .cards {
    grid-template-columns: 1fr;
  }
}
.alumni .cards .card {
  background-color: var(--gray);
  display: flex;
  gap: 1rem;
  padding: 0.3rem;
  border-radius: 0.7rem;
  border: 1px solid #f0f0f0;
  box-shadow: 0 8px 3px -5px #c0c0c0;
}
.alumni .cards .card img {
  display: block;
  margin: 0 auto;
  width: 10rem;
}
.curriculum {
  position: relative;
}
.curriculum .bg-pattern {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  opacity: 0.3;
  display: flex;
  justify-content: center;
}
.curriculum .bg-pattern img {
  transform: translateY(-10%);
  width: 90%;
  display: block;
  margin: auto 0;
}
.curriculum h1 {
  color: #565656;
  font-size: var(--font-heading);
  position: relative;
  z-index: 5;
}
.curriculum h2 {
  color: #666666;
  font-size: var(--font-subheading);
  margin-top: 1rem;
  font-weight: 500;
  position: relative;
  z-index: 5;
}
.curriculum .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem 3rem;
  position: relative;
  z-index: 5;
}
@media only screen and (max-width: 800px) {
  .curriculum .container {
    grid-template-columns: 1fr;
  }
}
.curriculum .container .left {
  height: -moz-fit-content;
  height: fit-content;
  margin: auto 0;
}
.curriculum .container .left button {
  margin-top: 2rem;
}

.reviews {
  background-color: var(--gray);
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.reviews h1 {
  font-size: var(--font-heading);
  text-align: center;
}
.reviews h2 {
  color: #666666;
  font-size: var(--font-subheading);
  text-align: center;
  margin-top: 1rem;
  font-weight: 500;
}
.reviews .cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  margin-top: 4rem;
}
@media only screen and (max-width: 900px) {
  .reviews .cards {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 900px) {
  .reviews .cards {
    grid-template-columns: 1fr;
  }
}
.reviews .cards .card {
  padding: 1.5rem;
  background-color: white;
  border-radius: 1.5rem;
  box-shadow: 0px 3px 4px 0px #b0b0b0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.reviews .cards .card .testimonial {
  color: #2f2f2f !important;
  font-size: 1rem;
  font-family: sans-serif;
  line-height: 1.6;
}
.reviews .cards .card .profile {
  display: flex;
  gap: 0.5rem;
}
.reviews .cards .card .profile img {
  border-radius: 50%;
  width: 3.2rem;
  height: 3.2rem;
}
.reviews .cards .card .profile .info {
  height: -moz-fit-content;
  height: fit-content;
  margin: auto 0;
}
.reviews .cards .card .profile .info .name {
  font-weight: 600;
  font-size: 0.9rem;
}
.reviews .cards .card .profile .info .role {
  font-weight: 500;
  color: #2f2f2f;
  font-size: 0.85rem;
}

.industry {
  background-color: var(--gray);
}
.industry h1 {
  color: #565656;
  font-size: var(--font-heading);
  text-align: center;
}
.industry h2 {
  color: #666666;
  font-size: var(--font-subheading);
  text-align: center;
  margin-top: 1rem;
  font-weight: 500;
}
.industry .cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem 2rem;
  margin: 0 auto;
  margin-top: 4rem;
}
@media only screen and (max-width: 1150px) {
  .industry .cards {
    width: 100%;
  }
}
@media only screen and (max-width: 950px) {
  .industry .cards {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 600px) {
  .industry .cards {
    grid-template-columns: 1fr;
  }
}
.industry .cards * {
  font-family: "Roboto", serif;
}
.industry .cards .card {
  background-color: white;
  border-radius: 1.5rem;
  padding: 1.6rem;
  box-shadow: 0px 3px 4px 0px #a0a0a0;
  display: flex;
  gap: 1.7rem;
}
.industry .cards .card img {
  margin: auto 0;
  width: 3rem;
  height: 3rem;
}
.industry .cards .card .content {
  height: -moz-fit-content;
  height: fit-content;
  margin: auto 0;
}
.industry .cards .card .content .heading {
  font-size: 1.3rem;
  font-weight: 600;
  color: #565656;
}
.industry .cards .card .content .point {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: #565656;
}
.industry .certification {
  margin-top: 12rem;
}
@media only screen and (max-width: 700px) {
  .industry .certification {
    margin-top: 6rem;
  }
}
.industry .certification h2 {
  color: #565656;
  font-size: var(--font-heading);
  text-align: center;
  font-weight: 700;
}
.industry .certification img {
  margin: 0 auto;
  margin-top: 3rem;
  width: 55%;
  display: block;
  border-radius: 2rem;
}
@media only screen and (max-width: 700px) {
  .industry .certification img {
    width: 100%;
  }
}

.faculties {
  position: relative;
}
.faculties .bg-pattern {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  opacity: 0.3;
  display: flex;
  justify-content: center;
}
.faculties .bg-pattern img {
  rotate: 180deg;
  transform: translateY(5%);
  width: 95%;
  display: block;
  margin: auto 0;
}
.faculties h1 {
  color: #565656;
  font-size: var(--font-heading);
  text-align: center;
  position: relative;
  z-index: 5;
}
.faculties h2 {
  color: #666666;
  font-size: var(--font-subheading);
  text-align: center;
  margin-top: 1rem;
  font-weight: 500;
  position: relative;
  z-index: 5;
}
.faculties .cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  margin-top: 5rem;
  position: relative;
  z-index: 5;
}
@media only screen and (max-width: 900px) {
  .faculties .cards {
    grid-template-columns: 1fr;
  }
}
.faculties .cards .card {
  background-color: var(--gray);
  border-radius: 1.5rem;
  padding: 1.7rem;
  box-shadow: 0px 3px 4px 0px #a0a0a0;
}
.faculties .cards .card img {
  width: 100%;
  border-radius: 1rem;
}
.faculties .cards .card .person {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
.faculties .cards .card .person * {
  font-family: "Roboto", serif;
}
.faculties .cards .card .person .info .name {
  color: #565656;
  font-weight: 600;
  font-size: 1rem;
}
.faculties .cards .card .person .info .designation {
  margin-top: 0.8rem;
  color: #565656;
  font-size: 0.9rem;
}
.faculties .cards .card .person a {
  height: -moz-fit-content;
  height: fit-content;
  display: block;
  margin: auto 0;
}
.faculties .cards .card .person a img {
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 0;
}

.faq-container {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.faq-container .faq-question {
  padding: 18px 20px;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background-color: var(--gray);
  border-radius: 1.5rem;
  transition: background-color 0.3s ease;
  color: #565656;
}
.faq-container .faq-question:hover {
  background-color: #d0d0d0;
}
.faq-container .faq-answer {
  max-height: 0;
  overflow: hidden;
  padding: 0 20px;
  background-color: #ffffff;
  color: #6c757d;
  font-size: 14px;
  line-height: 1.6;
  transition: max-height 0.3s ease, padding 0.3s ease;
  border-radius: 2rem;
}
.faq-container .faq-answer.open {
  max-height: 200px;
  /* Adjust for longer answers */
  padding: 15px 20px;
}
.faq-container .arrow {
  transition: transform 0.3s ease;
  width: 1.2rem;
  height: 1.2rem;
  filter: invert(33%) sepia(1%) saturate(0%) hue-rotate(53deg) brightness(96%) contrast(88%);
}
.faq-container .arrow.open {
  transform: rotate(45deg);
}

.pricing h1 {
  color: #3d3d3d;
  font-size: var(--font-heading);
  text-align: center;
}
.pricing p {
  color: #666666;
  font-size: var(--font-subheading);
  text-align: center;
  margin-top: 1rem;
  font-weight: 400;
}
.pricing .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem 4rem;
  width: 90%;
  margin: auto;
  margin-top: 3rem;
}
@media only screen and (max-width: 900px) {
  .pricing .container {
    grid-template-columns: 1fr;
    width: 100%;
  }
}
.pricing .container .left {
  height: -moz-fit-content;
  height: fit-content;
  margin: auto 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.pricing .container .left .images {
  display: flex;
  gap: 1rem;
}
.pricing .container .left .images img {
  width: 2rem;
  height: 2rem;
}
.pricing .container .left .divider {
  height: 1px;
  width: 100%;
  background-color: #a0a0a0;
}
.pricing .container .left h2 {
  color: #565656;
  font-size: 2.9rem;
}
@media only screen and (max-width: 600px) {
  .pricing .container .left h2 {
    font-size: 2.3rem;
  }
}
.pricing .container .left .price {
  display: flex;
  justify-content: space-between;
}
.pricing .container .left .price .cont .heading {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: left;
  color: #565656;
}
.pricing .container .left .price .cont .count {
  font-size: 1.8rem;
  color: #565656;
  font-weight: 600;
}
.pricing .container .left .price .cont .count span {
  font-size: 1rem;
  font-weight: 500;
}
.pricing .container .right {
  border-radius: 2.1rem;
  border: 2px solid #f0f0f0;
  background-color: var(--gray);
  height: -moz-fit-content;
  height: fit-content;
  margin: auto 0;
}
.pricing .container .right .info {
  z-index: 5;
  position: relative;
  background-color: var(--gray);
  border-radius: 2rem;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  gap: 2rem;
  border: 2px solid #f5f5f5;
  box-shadow: 0px 3px 4px 0px #a0a0a0;
}
.pricing .container .right .info .divider {
  margin: auto 0;
  height: 3rem;
  width: 1px;
  background-color: white;
}
.pricing .container .right .info .card {
  text-align: center;
}
.pricing .container .right .info .card h2 {
  color: #747474;
  font-size: 1rem;
  font-weight: 500;
}
.pricing .container .right .info .card h3 {
  margin-top: 0.4rem;
  color: #565656;
  font-size: 1rem;
  font-weight: 900;
}
.pricing .container .right .points {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}
.pricing .container .right .points .point {
  display: flex;
  gap: 1rem;
}
.pricing .container .right .points .point img {
  width: 1.1rem;
  height: 1.1rem;
  filter: invert(33%) sepia(1%) saturate(0%) hue-rotate(53deg) brightness(96%) contrast(88%);
  margin: auto 0;
  display: block;
}
.pricing .container .right .points .point p {
  margin: auto 0;
  color: #565656;
  font-weight: 600;
  font-size: 0.9rem;
  text-align: left;
}

.faqs {
  position: relative;
}
.faqs .bg-pattern {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  opacity: 0.4;
  display: flex;
  justify-content: center;
}
.faqs .bg-pattern img {
  transform: translateY(-10%);
  width: 90%;
  display: block;
  margin: auto 0;
}
.faqs h1 {
  color: #565656;
  font-size: var(--font-heading);
}
.faqs h2 {
  color: #666666;
  font-size: var(--font-subheading);
  margin-top: 1rem;
  font-weight: 500;
}
.faqs .container {
  z-index: 5;
  position: relative;
  display: grid;
  grid-template-columns: 55% 45%;
  gap: 2rem 3rem;
}
@media only screen and (max-width: 800px) {
  .faqs .container {
    display: flex;
    flex-direction: column-reverse;
  }
}
.faqs .container .left {
  height: -moz-fit-content;
  height: fit-content;
  margin: auto 0;
}
.faqs .container .left button {
  margin-top: 2rem;
}