.hero {
  position: relative;
  min-height: 100vh;
  background-image: linear-gradient(rgba(255, 255, 255, 0.4666666667), rgba(255, 255, 255, 0.4666666667)), url("/images/global/tile-background.png");
}
@media only screen and (max-width: 600px) {
  .hero {
    padding-top: 0rem !important;
  }
}
.hero .headline {
  text-align: center;
  font-size: 2.5rem;
  position: relative;
  font-weight: 500;
  z-index: 5;
  -moz-column-span: 2;
       column-span: 2;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 800px) {
  .hero .headline {
    -moz-column-span: 1;
         column-span: 1;
  }
}
.hero .bg-pattern {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  opacity: 0.25;
  display: flex;
  justify-content: center;
}
.hero .bg-pattern img {
  width: 95%;
  display: block;
  margin: auto 0;
}
.hero .container {
  z-index: 5;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin: auto 0;
  height: -moz-fit-content;
  height: fit-content;
}
@media only screen and (min-width: 1000px) {
  .hero .container {
    padding-top: 2rem;
  }
}
@media only screen and (max-width: 1000px) {
  .hero .container {
    grid-template-columns: 1fr;
    display: flex;
    flex-direction: column;
  }
}
.hero .container .left {
  overflow-x: hidden;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto;
  background-color: #fd1c08;
  padding: 1rem;
  width: 100%;
  border-radius: 1.5rem;
}
@media only screen and (max-width: 600px) {
  .hero .container .left {
    padding: 3rem 1rem;
    padding-bottom: 1.5rem;
    border-radius: 0;
  }
}
.hero .container .left .hero-splide {
  height: -moz-fit-content;
  height: fit-content;
}
.hero .container .left .hero-splide .splide__track {
  height: -moz-fit-content;
  height: fit-content;
}
.hero .container .left .hero-splide .splide__list {
  height: -moz-fit-content;
  height: fit-content;
}
.hero .container .left .hero-splide .splide__slide {
  height: -moz-fit-content;
  height: fit-content;
  margin: auto 0;
}
.hero .container .left .trainer {
  display: flex;
  background-color: white;
  width: 100%;
  background-color: transparent !important;
  border: none !important;
  padding: 0.5rem;
  border: 1px solid #d0d0d0;
  border-radius: 0.6rem;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto 0;
}
.hero .container .left .trainer * {
  color: black;
}
.hero .container .left .trainer .profile {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
@media only screen and (max-width: 600px) {
  .hero .container .left .trainer .profile {
    flex-direction: row;
  }
}
.hero .container .left .trainer .profile img {
  background-color: white;
  width: 70%;
  border-radius: 50%;
  display: block;
  margin: auto;
}
@media only screen and (max-width: 600px) {
  .hero .container .left .trainer .profile img {
    width: 6rem;
    height: 6rem;
  }
}
.hero .container .left .trainer .profile .details {
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .hero .container .left .trainer .profile .details {
    text-align: left;
  }
}
.hero .container .left .trainer .profile .details * {
  color: white;
}
.hero .container .left .trainer .profile .details .name {
  font-size: 1.2rem;
  font-weight: 500;
}
.hero .container .left .trainer .profile .details .designation {
  font-size: 0.8rem;
  color: #fafafa;
}
.hero .container .left .parent-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 2px solid white;
  border-radius: 1rem;
  padding: 2rem;
}
@media only screen and (max-width: 550px) {
  .hero .container .left .parent-container {
    grid-template-columns: 1fr;
  }
}
.hero .container .left .parent-container .left {
  height: -moz-fit-content;
  height: fit-content;
  margin: auto 0;
}
.hero .container .left * {
  color: white;
}
.hero .container .left .chip {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
@keyframes gloww {
  from {
    box-shadow: 0px 0px 2px white;
  }
  to {
    box-shadow: 0px 0px 15px 3px white;
  }
}
.hero .container .left .chip .glow {
  animation: gloww 1s linear infinite alternate;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
}
.hero .container .left .chip p {
  font-size: 0.8rem;
  font-weight: 500;
}
.hero .container .left .course-name {
  margin-top: 1rem;
}
.hero .container .left .heading-trainers {
  margin-top: 2rem;
  font-size: 1.1rem;
  color: white;
  font-weight: 500;
}
.hero .container .left .trainer-container {
  margin-top: 0.5rem;
  border-radius: 1rem;
}
.hero .container .left .timings {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  margin-top: 1.5rem;
}
.hero .container .left .timings .card {
  display: flex;
  gap: 0.5rem;
}
.hero .container .left .timings .card img {
  display: block;
  margin: auto 0;
  width: 1.3rem;
  height: 1.3rem;
  filter: brightness(0%) saturate(0) invert(1);
}
.hero .container .left button.submit-btn {
  display: flex;
  gap: 0.5rem;
  margin-top: 1.5rem;
  background-color: white;
  color: black;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}
.hero .container .left button.submit-btn img {
  width: 0.8rem;
  height: 0.8rem;
  display: block;
  margin: auto 0;
}
.hero .container .left button.submit-btn:hover {
  background-color: #d0d0d0;
}
@keyframes move-hero {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(-63rem);
  }
}
.hero .container .left .trainers {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr;
}
.hero .container .right {
  border-radius: 1rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto 0;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
@media only screen and (max-width: 600px) {
  .hero .container .right {
    border: none;
    margin-top: 4rem;
  }
}
.hero .container .right .heading {
  text-decoration-color: rgba(253, 29, 8, 0.4666666667);
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 0.5rem;
  font-size: 2rem;
  font-weight: 500;
  position: relative;
}
@media only screen and (max-width: 600px) {
  .hero .container .right .heading {
    font-size: 1.8em;
  }
}
.hero .container .right .subheading {
  position: relative;
  font-style: italic;
  font-size: 0.9rem;
  color: #575757;
  padding-left: 1.8rem;
}
.hero .container .right .subheading img {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  opacity: 0.3;
  z-index: 0;
  left: 0;
  top: -20%;
}
.hero .container .right .courses {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
@media only screen and (max-width: 600px) {
  .hero .container .right .courses {
    grid-template-columns: 1fr;
  }
}
.hero .container .right .courses .course {
  text-transform: none;
  font-size: 1rem;
  width: 100%;
  box-shadow: none;
  color: black;
  font-weight: 600;
  background-color: #fff0ee;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #d0d0d0;
  transition: 0.2s;
  display: flex;
}
.hero .container .right .courses .course:hover {
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  .hero .container .right .courses .course {
    padding: 0.5rem 1rem;
  }
}
.hero .container .right .courses .course p {
  text-align: left;
  font-weight: 500;
  margin: auto 0;
  font-size: 1.12rem;
}
.hero .container .right .courses .course:hover {
  background-color: #ffd5d0;
}
.hero .container .right form {
  margin-top: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.hero .container .right form button {
  display: block;
  margin-left: auto;
}
.hero .container .right form .row {
  display: flex;
  gap: 1rem;
}

.bottom {
  background-color: #fff9f8;
  grid-column: span 2;
  text-align: center;
}
.bottom h2 {
  font-weight: 500;
  font-size: 2rem;
}
.bottom .cards {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
}
.bottom .cards .card .number {
  font-size: 3rem;
  font-weight: 600;
  color: var(--red);
}
.bottom .cards .card .desc {
  font-size: 1.1rem;
  font-weight: 500;
}

.programs {
  background: #ffffff;
}
.programs .categories {
  margin-top: 3rem;
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 1rem;
  justify-content: center;
}
.programs .categories button {
  box-shadow: none;
  background-color: transparent;
  color: black;
  font-weight: 400;
  text-transform: none;
  font-size: 1.15rem;
  padding: 0.3rem 1rem;
}
@media only screen and (max-width: 700px) {
  .programs .categories button {
    font-size: 0.9rem;
    font-weight: 500;
  }
}
.programs .categories button.active {
  color: white;
  background-color: var(--red);
}
.programs h1 {
  text-align: center;
  font-size: var(--font-heading);
  color: #202020;
}
.programs h2 {
  text-align: center;
  font-size: var(--font-subheading);
  font-weight: 500;
  width: 80%;
  margin-block-start: auto;
  margin: auto;
  margin-top: 1rem;
}
.programs .programs-swiper {
  box-sizing: border-box !important;
  width: 100%;
  padding-bottom: 4rem;
  position: relative;
  overflow: visible;
}
@media only screen and (min-width: 1000px) {
  .programs .programs-swiper {
    padding-bottom: 0rem;
  }
}
@media only screen and (max-width: 600px) {
  .programs .programs-swiper {
    padding-bottom: 2rem;
  }
}
.programs .programs-swiper .splide__arrow--next {
  right: -1rem !important;
}
.programs .programs-swiper .splide__arrow--prev {
  left: -1rem !important;
}
.programs .programs-swiper.hidden {
  display: none;
}
.programs .programs-swiper .splide__track {
  width: 90% !important;
  margin: auto;
  padding-bottom: 2rem;
}
.programs .container {
  position: relative;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin-top: 3rem;
}
.programs .card {
  overflow: hidden;
  background-color: white;
  border-radius: 1.5rem;
  box-shadow: 3px 3px 2px #c0c0c0;
  border: 1px solid #d0d0d0;
}
.programs .card img.banner {
  width: 100%;
  background-color: #f5f5f5;
}
.programs .card .content {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.programs .card .content h1 {
  color: black;
  text-align: left;
  font-weight: 600;
  font-size: 1.8rem;
}
.programs .card .content .images {
  display: flex;
  gap: 0.8rem;
  flex-wrap: wrap;
}
.programs .card .content .images img {
  max-width: 2.5rem;
  height: auto;
  aspect-ratio: 3/2;
  -o-object-fit: contain;
     object-fit: contain;
}
.programs .card .content .details {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.programs .card .content .details .detail {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.programs .card .content .details .detail img {
  width: 18px;
  height: 18px;
}
.programs .card .content .details .detail p {
  font-size: 0.85rem;
  font-weight: 400;
}
.programs .card .content button {
  width: 100%;
}
.programs .program * {
  text-align: left;
}
.programs .program .grid-container {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}
@media only screen and (max-width: 700px) {
  .programs .program .grid-container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
.programs .program .grid-container img {
  width: 100%;
  border-radius: 1rem;
  display: block;
  margin: auto 0;
}
.programs .program .grid-container .content {
  height: -moz-fit-content;
  height: fit-content;
  margin: auto 0;
}
.programs .program .grid-container h2 {
  margin: 0;
  font-size: 2rem;
  font-weight: 600;
  font-weight: 600;
}
.programs .program .grid-container .description {
  margin-top: 0.8rem;
  font-size: 0.96rem;
}
.programs .program .grid-container ul {
  margin-top: 1rem;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.programs .program .grid-container ul li {
  font-size: 0.9rem;
}
.programs .program .grid-container .stats {
  margin-top: 1.3rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.programs .program .grid-container .stats .stat {
  display: flex;
  gap: 0.5rem;
}
.programs .program .grid-container .stats .stat img {
  display: block;
  margin: auto 0;
  width: 20px;
  height: 20px;
}
.programs .program .grid-container .stats .stat p {
  font-size: 0.9rem;
}
.programs .program .grid-container .stats .stat p span {
  font-weight: 500;
}
.programs .program .grid-container button {
  margin-top: 1.8rem;
}

.clientele h1 {
  color: #3d3d3d;
  font-size: var(--font-heading);
  text-align: center;
}
.clientele h2 {
  color: #666666;
  font-size: var(--font-subheading);
  text-align: center;
  margin-top: 1rem;
  font-weight: 400;
}
.clientele .cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 3rem;
}
@media only screen and (max-width: 1200px) {
  .clientele .cards {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 600px) {
  .clientele .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.clientele .cards .card {
  background-color: #fafafa;
  display: flex;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.7rem;
  border: 1px solid #e0e0e0;
  box-shadow: 0 8px 3px -5px #e3e3e3;
  transition: 0.2s;
}
.clientele .cards .card:hover {
  background-color: white;
}
.clientele .cards .card img {
  display: block;
  margin: 0 auto;
  width: 7rem;
  height: 7rem;
}
@media only screen and (max-width: 600px) {
  .clientele .cards .card img {
    height: auto;
    width: 100%;
  }
}
.clientele .count {
  margin-top: 4rem;
  border: none;
  box-shadow: none;
  height: -moz-fit-content;
  height: fit-content;
}
.clientele .count p {
  background-color: var(--gray);
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  padding: 0.2rem 1rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  font-style: italic;
  text-align: center;
}

@keyframes move-left {
  from {
    transform: translate(0rem);
  }
  to {
    transform: translate(-66rem);
  }
}
@keyframes move-right {
  from {
    transform: translate(-66rem);
  }
  to {
    transform: translate(0rem);
  }
}
.placement-record {
  overflow: hidden;
  position: relative;
}
.placement-record #placements {
  display: block;
  transform: translateY(-10rem);
}
@media only screen and (max-width: 600px) {
  .placement-record #placements {
    transform: translateY(-6rem);
  }
}
.placement-record .overlay {
  position: absolute;
  top: 8rem;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to left, #ffffff 0%, transparent 20%, transparent 80%, #ffffff 100%);
  z-index: 100;
}
.placement-record h1 {
  color: #3d3d3d;
  font-size: var(--font-heading);
  text-align: center;
}
.placement-record h2 {
  color: #666666;
  font-size: var(--font-subheading);
  text-align: center;
  margin-top: 1rem;
  font-weight: 400;
}
.placement-record .container {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}
.placement-record .container .slider {
  display: flex;
  gap: 1rem;
}
.placement-record .container .slider:nth-child(odd) {
  animation: move-left 10s linear infinite;
}
.placement-record .container .slider:nth-child(even) {
  animation: move-right 10s linear infinite;
}
.placement-record .container .slider .slide img {
  padding: 1rem;
  width: 10rem;
  height: 10rem;
}

.placed {
  background-color: #fbfbfb;
  padding-bottom: 15rem;
}
.placed h1 {
  font-size: var(--font-heading);
  font-weight: 600;
  text-align: center;
  margin-top: 1rem;
}
.placed h1 span {
  color: var(--red);
  font-weight: 600;
  font-style: italic;
}
@media only screen and (max-width: 900px) {
  .placed {
    padding-bottom: 4rem;
  }
}
.placed .timeline {
  width: 80%;
  margin: 0 auto;
  margin-top: 6rem;
  position: relative;
}
@media only screen and (max-width: 900px) {
  .placed .timeline {
    width: 90%;
    margin-top: 2rem;
  }
}
.placed .timeline .bar,
.placed .timeline .bar-holder {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: var(--red);
}
@media only screen and (max-width: 900px) {
  .placed .timeline .bar,
  .placed .timeline .bar-holder {
    height: 100%;
    width: 2px;
    transform: translateX(1px);
  }
}
.placed .timeline .bar-holder {
  height: 6px;
  background-color: #f0f0f0;
  transform: translateY(-2px);
}
@media only screen and (max-width: 900px) {
  .placed .timeline .bar-holder {
    height: 100%;
    width: 6px;
    transform: translateX(-1px);
  }
}
.placed .timeline .container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media only screen and (max-width: 900px) {
  .placed .timeline .container {
    position: relative;
    flex-direction: column;
    transform: translate(0);
  }
}
.placed .timeline .container .card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 5;
}
@media only screen and (max-width: 900px) {
  .placed .timeline .container .card {
    flex-direction: column;
    transform: translate(0);
    justify-content: space-around;
    gap: 2rem;
  }
}
.placed .timeline .container .card .number {
  position: relative;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-shrink: none;
}
.placed .timeline .container .card .number img {
  height: 1.3rem;
}
.placed .timeline .container .card .number p.count {
  flex-shrink: none;
  color: white;
  font-weight: 600;
  width: 2rem;
  height: 2rem;
  background-color: var(--red);
  border-radius: 50%;
}
@media only screen and (max-width: 900px) {
  .placed .timeline .container .card .number p.count {
    transform: translateX(-45%);
    display: block;
  }
}
.placed .timeline .container .card .number p.count span {
  transform: translate(100%, 20%);
  display: inline-block;
}
.placed .timeline .container .card .number .content {
  position: absolute;
  top: 2rem;
  text-align: center;
  left: 0%;
  width: 15rem;
  transform: translateX(-40%);
  margin-top: 1rem;
}
@media only screen and (max-width: 900px) {
  .placed .timeline .container .card .number .content {
    position: relative;
    transform: translateY(0);
    text-align: left;
    margin-top: 0;
    padding-left: 0.3rem;
    width: 100%;
    top: 0;
    height: -moz-fit-content;
    height: fit-content;
    margin: auto;
  }
}
.placed .timeline .container .card .number .content h3 {
  font-size: 1.3rem;
  font-weight: 700;
}
.placed .timeline .container .card .number .content h3.final-step {
  white-space: nowrap;
  gap: 0.5rem;
  display: flex;
  border: 1px solid #e0e0e0;
  background-color: #fef2f0;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  font-size: 1rem;
  font-weight: 800;
}
@media only screen and (max-width: 900px) {
  .placed .timeline .container .card .number .content h3.final-step {
    margin: 0;
  }
}
.placed .timeline .container .card .number .content p {
  margin-top: 0.8rem;
  color: #202020;
  font-size: 0.8rem;
  font-weight: 400;
  transform: translate(0);
}

.masterclass {
  background-color: var(--gray);
}
.masterclass .masterclass-swiper {
  padding-bottom: 1rem;
}
.masterclass .masterclass-swiper .splide__track {
  padding-bottom: 1rem;
}
.masterclass h1 {
  font-size: var(--font-heading);
  text-align: center;
}
.masterclass h2 {
  color: #666666;
  font-size: var(--font-subheading);
  text-align: center;
  margin-top: 1rem;
  font-weight: 500;
}
.masterclass .masterclass-swiper {
  width: 100%;
  padding-bottom: 4rem;
}
.masterclass .cards {
  gap: 1.8rem;
  margin-top: 3rem;
}
.masterclass .cards .card {
  background-color: white;
  border-radius: 1rem;
  padding: 1.3rem;
  box-shadow: 0px 3px 4px 0px #b0b0b0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.masterclass .cards .card .profile {
  display: flex;
  gap: 1.3rem;
}
.masterclass .cards .card .profile img {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
}
.masterclass .cards .card .profile .info {
  height: -moz-fit-content;
  height: fit-content;
  margin: auto 0;
}
.masterclass .cards .card .profile .info .name {
  font-weight: 500;
  font-size: 1.1rem;
}
.masterclass .cards .card .profile .info .role {
  font-weight: 400;
  color: #494949;
}
.masterclass .cards .card .info {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.masterclass .cards .card .info h2 {
  margin-top: 0;
  color: black;
  font-size: 1.1rem;
  font-weight: 700;
  text-align: left;
}
.masterclass .cards .card .info h3 {
  color: #494949;
  font-size: 0.95rem;
  font-weight: 500;
}
.masterclass .cards .card .details {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.masterclass .cards .card .details .detail {
  display: flex;
  gap: 0.7rem;
  align-items: center;
}
.masterclass .cards .card .details .detail img {
  width: 18px;
  height: 18px;
}
.masterclass .cards .card .details .detail p {
  font-size: 0.9rem;
  font-weight: 300;
}
.masterclass .cards .card .registered {
  color: #494949;
  font-size: 0.9rem;
}
.masterclass .view-all {
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
}

.testimonials {
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(rgba(255, 255, 255, 0.6666666667), rgba(255, 255, 255, 0.6666666667)), url("/images/global/tile-background.png");
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.testimonials #reviews {
  display: block;
  transform: translateY(-7rem);
}
@media only screen and (max-width: 600px) {
  .testimonials #reviews {
    transform: translateY(-6rem);
  }
}
.testimonials .bg-pattern {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  opacity: 0.1;
  display: flex;
  justify-content: center;
}
.testimonials .bg-pattern img {
  rotate: -45deg;
  width: 90%;
  display: block;
  margin: auto 0;
}
.testimonials h1 {
  font-size: var(--font-heading);
  text-align: center;
  position: relative;
  z-index: 5;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
.testimonials h1 img {
  display: block;
  position: absolute;
  top: -1rem;
  right: -2rem;
  width: 4rem;
  height: 4rem;
  z-index: -1;
  rotate: 8deg;
}
.testimonials .cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  z-index: 5;
  gap: 2rem;
  margin-top: 2rem;
}
@media only screen and (max-width: 900px) {
  .testimonials .cards {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 900px) {
  .testimonials .cards {
    grid-template-columns: 1fr;
  }
}
.testimonials .cards .institute-container {
  grid-column: span 2;
}
@media only screen and (max-width: 900px) {
  .testimonials .cards .institute-container {
    grid-column: span 1;
  }
}
.testimonials .cards .institute-container .heading-btn {
  margin-top: 2rem;
  display: block !important;
}
.testimonials .cards .institute-container .heading-btn h1 {
  text-align: center;
  border-radius: 1rem;
}
.testimonials .cards .student-content {
  height: -moz-fit-content;
  height: fit-content;
  margin: auto 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.testimonials .cards .student-content > div {
  background-color: #fffcfc;
  padding: 2rem;
  border: 1px solid #f0f0f0;
  border-radius: 1rem;
  position: relative;
  z-index: 10;
}
.testimonials .cards .student-content > div img {
  width: 1.5rem;
  height: 1.5rem;
  opacity: 0.3;
  z-index: 0;
  left: 0;
  top: 20%;
}
.testimonials .cards .student-content h2 {
  font-size: 1.5rem;
  margin: 0;
  position: relative;
  line-height: 1.5;
  font-weight: 700;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 5;
}
.testimonials .cards .student-content h2 img {
  display: block;
  position: absolute;
  top: -0.5rem;
  right: -1rem;
  width: 2rem;
  height: 2rem;
  z-index: 0;
  rotate: 8deg;
}
.testimonials .cards .student-content p {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
  line-height: 1.6;
  font-size: 0.9rem;
}
.testimonials .cards .splide,
.testimonials .cards .splide__slide {
  padding: 1rem 1.6rem;
}
@media only screen and (max-width: 600px) {
  .testimonials .cards .splide,
  .testimonials .cards .splide__slide {
    padding: 1rem 1rem;
  }
}
.testimonials .cards .splide .splide__arrow--next,
.testimonials .cards .splide__slide .splide__arrow--next {
  right: 0;
}
.testimonials .cards .splide .splide__arrow--prev,
.testimonials .cards .splide__slide .splide__arrow--prev {
  left: 0;
}
.testimonials .cards .testimonial-container {
  overflow: hidden;
  position: relative;
}
.testimonials .cards .testimonial-container .heading-btn {
  display: flex;
  justify-content: space-between;
}
.testimonials .cards .testimonial-container.active {
  background-color: white;
  padding: 6rem;
  padding-top: 8rem;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.testimonials .cards .testimonial-container.active .view-btn {
  display: none !important;
}
.testimonials .cards .testimonial-container.active .close-btn {
  display: block;
}
.testimonials .cards .testimonial-container.active .testimonial {
  overflow: auto !important;
  display: block !important;
  -webkit-line-clamp: unset;
  text-overflow: none;
}
@media only screen and (min-width: 800px) {
  .testimonials .cards .testimonial-container.active .content {
    width: 80%;
  }
}
.testimonials .cards .testimonial-container .content {
  margin: auto;
}
.testimonials .cards .testimonial-container .close-btn {
  display: none;
  box-shadow: none;
  padding: 0.4rem;
  border-radius: 0.2rem;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto 0;
}
.testimonials .cards .testimonial-container .close-btn img {
  filter: invert(1);
  width: 1.2rem;
  height: 1.2rem;
  display: block;
  margin: auto 0;
}
.testimonials .cards .card {
  padding: 1.5rem 1.9rem;
  background-color: white;
  border-radius: 1rem;
  border: 1px solid #f0f0f0;
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  transition: all 0.2s ease;
  top: 0;
  left: 0;
}
.testimonials .cards .card .testimonial {
  color: #2f2f2f !important;
  font-size: 0.9rem;
  font-family: sans-serif;
  line-height: 1.5;
  font-weight: 500;
  overflow: auto !important;
  display: -webkit-box;
  max-height: 9.5rem;
  -webkit-box-orient: vertical;
  overflow: auto;
}
.testimonials .cards .card .profile {
  display: flex;
  gap: 1rem;
}
.testimonials .cards .card .profile img {
  scale: 1.2;
  width: 3.2rem;
  height: 3.2rem;
}
.testimonials .cards .card .profile .info {
  height: -moz-fit-content;
  height: fit-content;
  margin: auto 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.testimonials .cards .card .profile .info .name {
  height: -moz-fit-content;
  height: fit-content;
  margin: auto 0;
  font-weight: 500;
  font-size: 1.2rem;
}
.testimonials .cards .card .profile .info .role {
  font-weight: 500;
  color: #2f2f2f;
  font-size: 0.85rem;
}
.testimonials .cards .card button.view-btn {
  margin-top: 0.9rem;
  display: none;
  padding: 4px 1rem;
  box-shadow: none;
}

.about {
  background-color: var(--gray);
}
.about .container {
  display: grid;
  grid-template-columns: 55% 45%;
  gap: 2rem;
}
@media only screen and (max-width: 1000px) {
  .about .container {
    grid-template-columns: 1fr;
  }
}
.about .container .about-swiper {
  overflow: hidden;
  width: 100%;
  height: 100% !important;
}
.about .container .about-swiper .splide__track {
  height: 100% !important;
}
.about .container .about-swiper .splide__arrow--next {
  scale: 0.9;
  border: 1.5px solid white !important;
}
@media only screen and (max-width: 600px) {
  .about .container .about-swiper .splide__arrow--next {
    scale: 0.8;
    display: none;
  }
}
.about .container .about-swiper .splide__arrow--prev {
  scale: 0.9;
  border: 1.5px solid white !important;
}
@media only screen and (max-width: 600px) {
  .about .container .about-swiper .splide__arrow--prev {
    scale: 0.8;
    display: none;
  }
}
.about .container .about-swiper .splide__slide {
  height: 100%;
}
.about .container .about-swiper .splide__slide > div {
  border-radius: 1rem !important;
  padding: 2rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6666666667), rgba(0, 0, 0, 0.6666666667)), url(/images/home/news.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  display: flex;
}
.about .container .about-swiper .splide__slide > div .content {
  height: -moz-fit-content;
  height: fit-content;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 3rem;
}
@media only screen and (max-width: 600px) {
  .about .container .about-swiper .splide__slide > div .content {
    padding: 0;
  }
}
.about .container .about-swiper .splide__slide > div .content h2 {
  color: white;
  font-size: 1.6rem;
}
.about .container .about-swiper .splide__slide > div .content p {
  font-size: 0.9rem;
  color: white;
}
.about .container .right .cards {
  display: flex;
  flex-direction: column;
  gap: 2rem 1rem;
}
.about .container .right .cards .card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
@media only screen and (max-width: 700px) {
  .about .container .right .cards .card {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 700px) {
  .about .container .right .cards .card.two {
    display: flex;
    flex-direction: column-reverse;
  }
}
.about .container .right .cards .card img {
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about .container .right .cards .card .content {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.about .container .right .cards .card .content h2 {
  color: #464646;
  font-size: 1.4rem;
}
.about .container .right .cards .card .content p {
  font-size: 0.9rem;
  color: #464646;
}

.skillpath h1 {
  color: black;
  font-size: 2rem;
}
.skillpath .grid-container {
  display: grid;
  grid-template-columns: 40% calc(60% - 4rem);
  gap: 2rem 4rem;
}
@media only screen and (max-width: 900px) {
  .skillpath .grid-container {
    grid-template-columns: 1fr;
  }
}
.skillpath .grid-container .banner {
  height: -moz-fit-content;
  height: fit-content;
  margin: auto 0;
}
.skillpath .grid-container .banner img {
  width: 100%;
  border-radius: 1rem;
}
.skillpath .grid-container .content {
  height: -moz-fit-content;
  height: fit-content;
  margin: auto 0;
}
.skillpath .grid-container .content .cards {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.skillpath .grid-container .content .cards .card {
  display: flex;
  gap: 1.5rem;
}
.skillpath .grid-container .content .cards .card img {
  display: block;
  width: 3rem;
  height: 3rem;
  margin: auto 0;
  background-color: rgba(253, 28, 8, 0.062745098);
  padding: 0.5rem;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.062745098);
}
.skillpath .grid-container .content .cards .card h2 {
  font-size: 1.1rem;
  font-weight: 700;
}
.skillpath .grid-container .content .cards .card p {
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

.cta h1 {
  font-size: var(--font-heading);
  text-align: center;
  position: relative;
  z-index: 5;
}
.cta h2 {
  color: #131313;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 1rem;
  font-weight: 500;
  position: relative;
  z-index: 5;
}
.cta h2 span {
  color: var(--red);
  font-style: italic;
  font-weight: 600;
}
.cta button {
  display: block;
  margin: 0 auto;
  margin-top: 2rem;
}

.cta-courses {
  text-align: center;
  background-color: #fff9f8;
}
.cta-courses h2 {
  font-size: 2rem;
}
.cta-courses button {
  margin-top: 2rem;
}